#header  {
    display:grid;
    grid-template-rows: 100px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: 
    "a a a b b b b b b c c c "
    ;
    margin:auto;
    
}
#header1{
    grid-area: a;
}
#header2{
    grid-area: b;
   
}
#header3{
    grid-area: c;
}

@media only screen and (min-width:375px) and (max-width:768px)
{
  #header{
    width:100%;
    grid-template-rows: 80px 80px 80px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: 
    "a"
    "b"
    "c";
  }
}
.headerimg{
    height:80%;
    width:70%;
    margin:4px 50px;
}

#header2 input[type=text] {
   
    width:80%;
    height:30px;
    font-size: 17px;
    padding:7px;
    margin-left: 10px;
    border:none;
  }

  
.elementsContainer{
    border:1px solid #dcdcdc;
    width:100%;
    margin-top: 20px;
  
}
.searchicon{
    color:#dcdcdc;
 
}
#header3{
    display:flex;
    justify-content: space-evenly;
}
#header3 > div{
    margin-top:35px;

}
#header3 > div:nth-child(2){
    margin-top:30px;

}
.hicon1{
    text-decoration: none;
    font-size:15px;
    color:#aca1a1;
    font-style: italic;
    font-family: Arial;
}

.active{
    background:white;
    border-radius:10px;
    text-decoration: none;
    font-family: Arial;
 }

.active:hover{
     background:white;
     transition:0s;
     color:rgb(247, 64, 192);
     text-decoration: none;
        
    }

/* Menu bar */

.menubar{
    width:100%;
    height:30px;


}

nav ul{
    padding : 0;
    margin : 0;
    float : left;
    margin-right: 30px;
    color:black;
    font-weight: bold;   

}
nav ul li{
    position : relative;
    text-decoration: none;
    display : inline-block;

}
nav ul li a{
  display : block;
  padding : 0 20px;
  color: black;
  text-decoration: none;
  line-height:30px;
  font-size:15px;
  font-family: 'Poppins', sans-serif;

}
nav ul ul a{
    color:gray;

}
nav ul li a:hover{
 color:#fc2779;

 
}
nav ul ul{
  position:absolute;
  display:none;
  top:30px;
}
nav ul ul h3{
    margin-left:20px;
    margin-bottom:2px;
    font-family: 'Poppins', sans-serif;
}
nav ul li:hover > ul{
  display:block;
  background-color: white;
  margin-left:20px;


  
}
nav ul ul li{
  width:250px;
  float:none;
  height:10px;
  position:relative;
  margin-top:3px;
 
  font-size:8px;
  font-weight: lighter;
  font-family: 'Poppins', sans-serif;
}
nav ul ul li a:hover{
    width:250px;
    position:relative;
    margin-left: 10px;
    overflow: hidden;
    z-index: 1;
    position: relative;
   }


  /* slider */
  #frame {
    margin: auto;
    width:100%;
    max-width: 100%;
    margin-top:0px;
    
}
.sliderimg{
    width:100%;
    background-position: none;
}

#frame input[type=radio] {
    display: none;
}

#frame label {
    cursor: pointer;
    text-decoration: none;
}

#slides {
    padding: 0px;
    width:100%;
    z-index: 1;
}

#overflow {
    width: 100%;
    overflow: hidden;
}

#frame1:checked~#slides .inner {
    margin-left: 0;
}

#frame2:checked~#slides .inner {
    margin-left: -100%;
}

#frame3:checked~#slides .inner {
    margin-left: -200%;
}

#frame4:checked~#slides .inner {
    margin-left: -300%;
}

#slides .inner {
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 400%;
    line-height: 0;
    height: 300px;
}

#slides .frame {
    width: 25%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #FFF;
}
#controls {
    margin: -180px 0 0 0;
    width: 100%;
    height: 50px;
    z-index: 3;
    position: relative;
}
#controls label {
    transition: opacity 0.2s ease-out;
    display: none;
    width: 50px;
    height: 50px;
    opacity: .4;
}

#controls label:hover {
    opacity: 1;
}
#slides .frame_1 {
    	
    background: url(https://cdn.shopify.com/s/files/1/0906/2558/files/SUGAR-FABULOUS-Landing-Page-Banner-1600-X-400-2_0ba884ad-4a1e-47d2-a28c-4f1d8fc9165b.jpg?v=1639392016);
}
#slides .frame_2 {
		
    background: url(https://lh3.googleusercontent.com/fnEO96CImrPJyiqf11eFrwLC4p6Ud4qGXbjNbiflwQOQLVmHGABRJSqyM1Upg0TGMqgDyWF3d1_zeLHf-s52JilyTFnl9c3ossvOfzq8LA);
}
#slides .frame_3 {
		
    background: url(https://lh3.googleusercontent.com/W2wmG4TlOwjslBZrX48w_hDCba_K7oQsYT-u73lAtXqEpWKoHcz2qijPvEN-fE8x-iy-sbpHefYm31c7thM1n9LxGAbUXdf7P3CUwko);
}
#slides .frame_4 {
		
    background: url(https://lh3.googleusercontent.com/zXxH2mlSG_AAIZPUCe2BIRLtAifKO3h8k0c_lthyvXlIAVc26ZIB1aMQyGH6cBdLpLleL3qhnnuDmA0jO6NZV7BOM02cFZmJ5UvP62Im);
}

#bullets {
    margin: 150px 0 0;
    text-align: center;
}

#bullets label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: #ccc;
    margin: 0 10px;
}

#frame1:checked~#bullets label:nth-child(1),
#frame2:checked~#bullets label:nth-child(2),
#frame3:checked~#bullets label:nth-child(3),
#frame4:checked~#bullets label:nth-child(4) {
    background: #444;
}

@media screen and (max-width: 900px) {

    #frame1:checked~#controls label:nth-child(2),
    #frame2:checked~#controls label:nth-child(3),
    #frame3:checked~#controls label:nth-child(4),
    #frame4:checked~#controls label:nth-child(1),
    #frame1:checked~#controls label:nth-last-child(2),
    #frame2:checked~#controls label:nth-last-child(3),
    #frame3:checked~#controls label:nth-last-child(4),
    #frame4:checked~#controls label:nth-last-child(1) {
        margin: 0;
    }

    #slides {
        max-width: calc(100% );
        margin: auto;
    }
}